<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Welcome to Hasura-Chinook assignment </h2>
<p>Done By Sriram Muralidharan</p>
<br>
<table>
  <tr>
    <th>Table Name</th>
    <th>Read data from table</th>
    <th>Write data into the table</th>
  </tr>
  <tr>
    <td>Artists</td>
    <td><a href="http://34.232.53.185:8080/artists_table/">Click here to view Artists Table</a></td>
    <td><a href="http://34.232.53.185:8080/Artists/">Click here to insert records into Artists Table</a></td>
  </tr>
  <tr>
    <td>Employees</td>
    <td><a href="http://34.232.53.185:8080/employees_table/">Click here to view Employeess Table</a></td>
    <td><a href="http://34.232.53.185:8080/Employees/">Click here to insert records into Employees Table</a></td>
  </tr>
  <tr>
    <td>Invoices</td>
    <td><a href="http://34.232.53.185:8080/invoices_table/">Click here to view Invoices Table</a></td>
    <td><a href="http://34.232.53.185:8080/Invoices/">Click here to insert records into Invoices Table</a></td>
  </tr>
   <tr>
    <td>Customers</td>
    <td><a href="http://34.232.53.185:8080/customers_table/">Click here to view Customers Table</a></td>
    <td><a href="http://34.232.53.185:8080/Customers/">Click here to insert records into Customers Table</a></td>
  </tr>
  <tr>
    <td>MediaTypes</td>
    <td><a href="http://34.232.53.185:8080/mediatypes_table/">Click here to view Mediatypes Table</a></td>
    <td><a href="http://34.232.53.185:8080/Mediatypes/">Click here to insert records into Mediatypes Table</a></td>
  </tr>
  <tr>
    <td>Genres</td>
    <td><a href="http://34.232.53.185:8080/genres_table/">Click here to view Genres Table</a></td>
    <td><a href="http://34.232.53.185:8080/Genres/">Click here to insert records into Genres Table</a></td>
  </tr>
  <tr>
    <td>Tracks</td>
    <td><a href="http://34.232.53.185:8080/tracks_table/">Click here to view Tracks Table</a></td>
    <td><a href="http://34.232.53.185:8080/Tracks/">Click here to insert records into Tracks Table</a></td>
  </tr>
  <tr>
    <td>Playlists</td>
    <td><a href="http://34.232.53.185:8080/playlists_table/">Click here to view Playlists Table</a></td>
    <td><a href="http://34.232.53.185:8080/Playlists/">Click here to insert records into Playlists Table</a></td>
  </tr>
  <tr>
    <td>Playlist_track</td>
    <td><a href="http://34.232.53.185:8080/playlisttrack_table/">Click here to view Playlist track Table</a></td>
    <td><a href="http://34.232.53.185:8080/Playlisttrack/">Click here to insert records into Playlist Track Table</a></td>
  </tr>
  <tr>
    <td>Albums</td>
    <td><a href="http://34.232.53.185:8080/albums_table/">Click here to view Albums Table</a></td>
    <td><a href="http://34.232.53.185:8080/Albums/">Click here to insert records into Albums Table</a></td>
  </tr>
  <tr>
    <td>Invoice Items</td>
    <td><a href="http://34.232.53.185:8080/invoiceitems_table/">Click here to view Invoice Items Table</a></td>
    <td><a href="http://34.232.53.185:8080/Invoiceitems/">Click here to insert records into Invoice Items Table</a></td>
  </tr>
</table>

</body>
</html>

